{% block head %}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <h1>Hello World</h1>
    <p class="important">
        Welcome on my First homepage with template engine !! 
    </p>
{% endblock %}